<template>
  <v-container>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-layout row v-if="error">
            <v-flex xs12 sm12>
              <app-alert @dismissed="onDismissed" :text="error.message"></app-alert>
            </v-flex>
          </v-layout> 
          <v-card-text>
            <v-container>
              <v-layout row>
                <v-flex xs12>
                  <h4 class="primary--text">SignIn </h4>
                </v-flex>
              </v-layout>
              <form @submit.prevent="onSignIn">
                <v-layout row>
                  <v-flex xs12 sm12>
                    <v-text-field name="email" label="Mail" id="email" v-model="email" required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm12>
                    <v-text-field name="password" type="password" label="Password" id="password" v-model="password" required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm2>
                    <v-btn class="primary" type="submit" :loading="loading" :disabled="loading">
                      Sign in
                      <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                      </span>
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 sm2>
                    <v-btn light type="submit">Clear</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    error () {
      return this.$store.getters.error
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/meetsups')
      }
    }
  },
  methods: {
    onSignIn () {
      this.$store.dispatch('signUserIn', { email: this.email, password: this.password })
    },
    onDismissed () {
      this.$store.dispatch('clearError')
    }
  }
}
</script>
