<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <h4 class="primary--text">New Meetup</h4>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12>
        <form @submit.prevent="onCreateMeetup">
          <v-layout row>
            <v-flex xs12 sm5 offset-sm1>
              <v-text-field name="title" label="Title" id="title" v-model="title" required>
              </v-text-field>
            </v-flex>
            <v-flex xs12 sm3 offset-sm1>
              <v-text-field name="location" label="Location" id="location" v-model="location" required>
              </v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs12 sm3 offset-sm1>
              <img :src="imageUrl" style="max-width:100%" alt="">
            </v-flex>
            <v-flex xs12 sm5 offset-sm1>
              <v-layout row>
                <v-flex xs12 sm6>

                  <v-dialog persistent lazy>
                    <v-text-field slot="activator" label="Date" v-model="date"></v-text-field>
                    <v-date-picker v-model="date" scrollable>
                      <template scope="{ save, cancel }">
                        <v-card-actions>
                          <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                          <v-btn flat primary @click.native="save()">Save</v-btn>
                        </v-card-actions>
                      </template>
                    </v-date-picker>
                  </v-dialog>

                </v-flex>

                <v-flex xs12 sm6>

                  <v-dialog persistent lazy>
                    <v-text-field slot="activator" label="Time" v-model="time"></v-text-field>
                    <v-time-picker v-model="time" actions format="24hr">
                      <template scope="{ save, cancel }">
                        <v-card-actions>
                          <v-btn flat primary @click.native="cancel()">Cancel</v-btn>
                          <v-btn flat primary @click.native="save()">Save</v-btn>
                        </v-card-actions>
                      </template>
                    </v-time-picker>
                  </v-dialog>

                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12 sm12>
                  <v-text-field name="imageUrl" label="Image URL" id="imageUrl" v-model="imageUrl" required>
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-flex xs12 sm12>
                  <v-text-field name="description " label="Description" id="description" v-model="description" multi-line required>
                  </v-text-field>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs12 sm2 offset-sm1>
              <v-btn class="primary" :disabled="!formIsValid" type="submit">Create</v-btn>
            </v-flex>
            <v-flex xs12 sm8>
              <v-btn light type="submit" @click="onClear">Clear</v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      title: '',
      location: '',
      imageUrl: '',
      description: '',
      date: new Date(),
      time: new Date()
    }
  },
  computed: {
    formIsValid () {
      return this.title !== '' &&
        this.location !== '' &&
        this.imageUrl !== '' &&
        this.description !== '' &&
        this.date !== '' &&
        this.description !== ''
    },
    subtDateTime () {
      const date = new Date(this.date)
      if (typeof this.time === 'string') {
        let hours = this.time.match(/^(\d+)/)[1]
        const minutes = this.time.match(/:(\d+)/)[1]
        date.setHours(hours)
        date.setMinutes(minutes)
      } else {
        date.setHours(this.time.getHours())
        date.setMinutes(this.time.getMinutes())
      }
      return date
    }
  },
  methods: {
    onCreateMeetup () {
      if (!this.formIsValid) {
        return
      }
      const meetupData = {
        title: this.title,
        location: this.location,
        imageUrl: this.imageUrl,
        description: this.description,
        date: this.subtDateTime
      }
      this.$store.dispatch('createMeetup', meetupData)
      this.$router.push('/meetsups')
    },
    onClear () {
      this.title = ''
      this.location = ''
      this.imageUrl = ''
      this.description = ''
      this.date = ''
      this.time = ''
    }
  }
}
</script>