<template>
  <v-container fluid style="min-height: 0;" grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 sm10 md10 offset-sm1 offset-md1>
        <v-card v-for="meetup in meetups" :key="meetup.id" class="mt-3">
          <v-container fluid>
            <v-layout row>
              <v-flex xs5 sm4 md3>
                <v-card-media :src="meetup.imageUrl" height="170px">
                </v-card-media>
              </v-flex>
              <v-flex xs7 sm8 md9>
                <v-card-title primary-title class="mt-0 pt-0 mb-0 pb-0">
                  <div>
                    <h4 class="mb-0 primary--text">{{meetup.title}}</h4>
                    <div class="info--text">
                      <v-icon class="info--text">date_range</v-icon>
                      {{meetup.date | date }} -
                      <v-icon class="info--text">room</v-icon>
                      {{meetup.location}}
                    </div>
                  </div>
                </v-card-title>
                <v-card-text>
                  <div>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only...
                  </div>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn raised primary :to="'/meetsup/'+meetup.id">
                    View Meetup
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  computed: {
    meetups () {
      return this.$store.getters.loadedMeetups
    }
  }
}
</script>