<template>
  <v-container fluid style="min-height: 0;" grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title primary-title class="mt-2 pt-2">
            <div>
              <h4 class="mb-0 primary--text">{{meetup.title}}</h4>
              <div class="info--text">
                <v-icon class="info--text">date_range</v-icon>
                {{meetup.date | date}} -
                <v-icon class="info--text">room</v-icon>
                {{meetup.location}}
              </div>
            </div>
          </v-card-title>
          <v-card-media :src="meetup.imageUrl" height="500px"></v-card-media>
          <v-card-text>
            <div> {{meetup.description}} </div>
          </v-card-text>
          <v-card-actions>

          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  props: ['id'],
  computed: {
    meetup () {
      return this.$store.getters.loadedMeetup(this.id)
    }
  }
}
</script>